<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Design form</title>
  </head>
  <body>
    <div
      class="d-flex flex-column bd-highlight justify-content-center align-items-center w-75 ms-5"
    >
      <h1 class="mb-3">Design Tekken Reborn Fighter</h1>
      <!-- We bind @ModelAttribute called fighter to this HTML form-->
      <form method="post" th:object="${fighter}">
        <div th:if="${#fields.hasErrors()}">
          <span> Please correct the problems below and resubmit. </span>
        </div>
        <div class="mb-3">
          <label for="fighterName" class="form-label">Fighter name: </label>
          <!--By using th:field we "bind" fighter model java fields to html input that we will provide-->
          <input
            type="text"
            class="form-control"
            id="fighterName"
            th:field="*{name}"
            aria-describedby="fighterHelp"
          />
          <div id="fighterHelp" class="form-text">
            Provide decent fighter name
          </div>
          <span
            class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"
          >
            Name error
          </span>
        </div>
        <div class="mb-3">
          <label for="damagePerHit" class="form-label">Damage per hit: </label>
          <input
            type="number"
            th:field="*{damagePerHit}"
            class="form-control"
            id="damagePerHit"
          />
          <span
            class="validationError"
            th:if="${#fields.hasErrors('damagePerHit')}"
            th:errors="*{damagePerHit}"
          >
            Name error
          </span>
        </div>
        <div class="mb-3">
          <label for="health" class="form-label">Health: </label>
          <input
            type="number"
            th:field="*{health}"
            class="form-control"
            id="health"
          />
          <span
            class="validationError"
            th:if="${#fields.hasErrors('health')}"
            th:errors="*{health}"
            >Name Error
          </span>
        </div>
        <div class="mb-3">
          <label for="resistance" class="form-label">Resistance: </label>
          <input
            type="number"
            step="0.1"
            th:field="*{resistance}"
            class="form-control"
            id="resistance"
          />
          <span
            class="validationError"
            th:if="${#fields.hasErrors('resistance')}"
            th:errors="*{resistance}"
            >Resistance Error
          </span>
        </div>
        <select
          th:field="*{animeFrom}"
          class="form-select mt-5 mb-5"
          aria-label="Anime selection"
        >
          <option
            th:each="anime: ${animes}"
            th:value="${anime}"
            th:text="${anime.title}"
          />
        </select>
        <button class="btn btn-primary mt-5">Create Fighter</button>
      </form>
    </div>
  </body>
</html>
