<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div
      class="d-flex flex-column bd-highlight justify-content-center align-items-center"
    >
      <h1>Welcome to Tekken Reborn Application</h1>
      <img th:src="@{/images/TekkenReborn.png}" alt="Tekken Reborn" />
      <form id="goToForm" th:action="@{/design}" method="post">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <br />
          <input type="submit" value="Go to design" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </body>
</html>
